[Unit]
Description=Rover-init
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/usr/init-jetson
User=rover
Environment=DISPLAY=:0
ExecStart=/usr/init-jetson/Xinit.sh

[Install]
WantedBy=multi-user.target
