[Unit]
Description=Rover-init
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
WorkingDirectory=/usr/init-jetson
export DISPLAY=:0
RestartSec=1
User=rover
ExecStart=/usr/init-jetson/Xinit.sh
[Install]
WantedBy=multi-user.target
